<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">

<generatorConfiguration>

    <classPathEntry location="${mysqlClassPath}" />

    <context id="MysqlDB" targetRuntime="MyBatis3">

        <commentGenerator>
            <property name="suppressAllComments" value="true" />
            <property name="suppressDate" value="true" />
        </commentGenerator>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver"
                        connectionURL="jdbc:mysql://rm-uf68lsw07o293t779o.mysql.rds.aliyuncs.com/menuxx?characterEncoding=UTF-8"
                        userId="qurenjiadb"
                        password="1s$kh8g!1">
        </jdbcConnection>

        <javaTypeResolver >
            <property name="forceBigDecimals" value="true" />
        </javaTypeResolver>

        <javaModelGenerator targetPackage="com.mall.model" targetProject="${projectPath}/src/main/java">
            <property name="enableSubPackages" value="true" />
            <property name="trimStrings" value="true" />
        </javaModelGenerator>

        <sqlMapGenerator targetPackage="mapper"  targetProject="${projectPath}src/main/resources">
            <property name="enableSubPackages" value="true" />
        </sqlMapGenerator>

        <!-- ANNOTATEDMAPPER, XMLMAPPER -->
        <javaClientGenerator type="XMLMAPPER" targetPackage="com.mall.mapper" targetProject="${projectPath}src/main/java">
            <property name="enableSubPackages" value="true" />
        </javaClientGenerator>

        <!--<table schema="jiujin" tableName="t_table" domainObjectName="TTable" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_order" domainObjectName="TOrder" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_order_item" domainObjectName="TOrderItem" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_item" domainObjectName="TItem" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_category" domainObjectName="TCategory" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_corp_user" domainObjectName="TCorpUser" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_charge_apply" domainObjectName="TChargeApply" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_user" domainObjectName="TUser" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_corp" domainObjectName="TCorp" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_corp_collect" domainObjectName="TCorpCollect" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_corp_discover" domainObjectName="TCorpDiscover" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_corp_feedback" domainObjectName="TCorpFeedback" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_corp_total" domainObjectName="TCorpTotal" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_taste" domainObjectName="TTaste" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_address" domainObjectName="TAddress" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_printer" domainObjectName="TPrinter" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_config" domainObjectName="TConfig" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_item" domainObjectName="TItem" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_item" domainObjectName="TItem" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_format" domainObjectName="TFormat" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_scene" domainObjectName="TScene" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_topup" domainObjectName="TTopup" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_recharge_record" domainObjectName="TRechargeRecord" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_user_balance" domainObjectName="TUserBalance" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table tableName="t_delivery_transport" domainObjectName="TDeliveryTransport">-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_delivery_shop" domainObjectName="TDeliveryShop" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_dada_merchant" domainObjectName="TDadaMerchant" >-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_activity" domainObjectName="TActivity">-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_activity_minus" domainObjectName="TActivityMinus">-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_feieprinter" domainObjectName="TFeiePrinter">-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_shop_charge_record_balance" domainObjectName="TShopChargeRecordBalance">-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->

        <!--<table schema="jiujin" tableName="t_activity_newuser" domainObjectName="TActivityNewUser">-->
            <!--<generatedKey column="id" sqlStatement="Mysql" identity="true" />-->
        <!--</table>-->



    </context>

</generatorConfiguration>