<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.StatisticsMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.TCorpTotal">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corp_id" jdbcType="INTEGER" property="corpId" />
    <result column="day" jdbcType="DATE" property="day" />
    <result column="income_total" jdbcType="DOUBLE" property="incomeTotal" />
    <result column="order_total" jdbcType="INTEGER" property="orderTotal" />
    <result column="arerage" jdbcType="DOUBLE" property="arerage" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
 <select id="selectByDay" parameterType="java.util.Map" resultMap="BaseResultMap">
    select corp_id, sum(pay_amount) as income_total, count(*) as order_total
    from t_order
    where `status` = 1
    and create_time between STR_TO_DATE(#{fromDay,jdbcType=VARCHAR}, '%Y-%m-%d') and STR_TO_DATE(#{toDay,jdbcType=VARCHAR}, '%Y-%m-%d')
    <if test="corpId != null">
        and corp_id = #{corpId,jdbcType=VARCHAR}
    </if>
    group by corp_id
  </select>
</mapper>