<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.TChargeApplyMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.TChargeApply">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="user_id" jdbcType="INTEGER" property="userId" />
    <result column="order_id" jdbcType="INTEGER" property="orderId" />
    <result column="attach" jdbcType="VARCHAR" property="attach" />
    <result column="bank_type" jdbcType="VARCHAR" property="bankType" />
    <result column="cash_fee" jdbcType="INTEGER" property="cashFee" />
    <result column="fee_type" jdbcType="VARCHAR" property="feeType" />
    <result column="is_subscribe" jdbcType="VARCHAR" property="isSubscribe" />
    <result column="mch_id" jdbcType="VARCHAR" property="mchId" />
    <result column="nonce_str" jdbcType="VARCHAR" property="nonceStr" />
    <result column="openid" jdbcType="VARCHAR" property="openid" />
    <result column="out_trade_no" jdbcType="VARCHAR" property="outTradeNo" />
    <result column="result_code" jdbcType="VARCHAR" property="resultCode" />
    <result column="return_code" jdbcType="VARCHAR" property="returnCode" />
    <result column="sign" jdbcType="VARCHAR" property="sign" />
    <result column="time_end" jdbcType="VARCHAR" property="timeEnd" />
    <result column="total_fee" jdbcType="INTEGER" property="totalFee" />
    <result column="trade_type" jdbcType="VARCHAR" property="tradeType" />
    <result column="transaction_id" jdbcType="VARCHAR" property="transactionId" />
    <result column="divice_info" jdbcType="VARCHAR" property="diviceInfo" />
    <result column="sign_type" jdbcType="VARCHAR" property="signType" />
    <result column="err_code" jdbcType="VARCHAR" property="errCode" />
    <result column="err_code_des" jdbcType="VARCHAR" property="errCodeDes" />
    <result column="settlement_total_fee" jdbcType="INTEGER" property="settlementTotalFee" />
    <result column="cash_fee_type" jdbcType="VARCHAR" property="cashFeeType" />
    <result column="coupon_fee" jdbcType="INTEGER" property="couponFee" />
    <result column="coupon_count" jdbcType="INTEGER" property="couponCount" />
    <result column="coupon_type_0" jdbcType="INTEGER" property="couponType0" />
    <result column="coupon_type_1" jdbcType="INTEGER" property="couponType1" />
    <result column="coupon_id_0" jdbcType="VARCHAR" property="couponId0" />
    <result column="coupon_id_1" jdbcType="VARCHAR" property="couponId1" />
    <result column="coupon_id_2" jdbcType="VARCHAR" property="couponId2" />
    <result column="coupon_id_3" jdbcType="VARCHAR" property="couponId3" />
    <result column="coupon_id_4" jdbcType="VARCHAR" property="couponId4" />
    <result column="return_msg" jdbcType="VARCHAR" property="returnMsg" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, user_id, order_id, attach, bank_type, cash_fee, fee_type, is_subscribe, mch_id, 
    nonce_str, openid, out_trade_no, result_code, return_code, sign, time_end, total_fee, 
    trade_type, transaction_id, divice_info, sign_type, err_code, err_code_des, settlement_total_fee, 
    cash_fee_type, coupon_fee, coupon_count, coupon_type_0, coupon_type_1, coupon_id_0, 
    coupon_id_1, coupon_id_2, coupon_id_3, coupon_id_4, return_msg, create_time
  </sql>
  <select id="selectByExample" parameterType="com.mall.model.TChargeApplyExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_charge_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_charge_apply
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_charge_apply
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.model.TChargeApplyExample">
    delete from t_charge_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.model.TChargeApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_charge_apply (user_id, order_id, attach, 
      bank_type, cash_fee, fee_type, 
      is_subscribe, mch_id, nonce_str, 
      openid, out_trade_no, result_code, 
      return_code, sign, time_end, 
      total_fee, trade_type, transaction_id, 
      divice_info, sign_type, err_code, 
      err_code_des, settlement_total_fee, cash_fee_type, 
      coupon_fee, coupon_count, coupon_type_0, 
      coupon_type_1, coupon_id_0, coupon_id_1, 
      coupon_id_2, coupon_id_3, coupon_id_4, 
      return_msg, create_time)
    values (#{userId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{attach,jdbcType=VARCHAR}, 
      #{bankType,jdbcType=VARCHAR}, #{cashFee,jdbcType=INTEGER}, #{feeType,jdbcType=VARCHAR}, 
      #{isSubscribe,jdbcType=VARCHAR}, #{mchId,jdbcType=VARCHAR}, #{nonceStr,jdbcType=VARCHAR}, 
      #{openid,jdbcType=VARCHAR}, #{outTradeNo,jdbcType=VARCHAR}, #{resultCode,jdbcType=VARCHAR}, 
      #{returnCode,jdbcType=VARCHAR}, #{sign,jdbcType=VARCHAR}, #{timeEnd,jdbcType=VARCHAR}, 
      #{totalFee,jdbcType=INTEGER}, #{tradeType,jdbcType=VARCHAR}, #{transactionId,jdbcType=VARCHAR}, 
      #{diviceInfo,jdbcType=VARCHAR}, #{signType,jdbcType=VARCHAR}, #{errCode,jdbcType=VARCHAR}, 
      #{errCodeDes,jdbcType=VARCHAR}, #{settlementTotalFee,jdbcType=INTEGER}, #{cashFeeType,jdbcType=VARCHAR}, 
      #{couponFee,jdbcType=INTEGER}, #{couponCount,jdbcType=INTEGER}, #{couponType0,jdbcType=INTEGER}, 
      #{couponType1,jdbcType=INTEGER}, #{couponId0,jdbcType=VARCHAR}, #{couponId1,jdbcType=VARCHAR}, 
      #{couponId2,jdbcType=VARCHAR}, #{couponId3,jdbcType=VARCHAR}, #{couponId4,jdbcType=VARCHAR}, 
      #{returnMsg,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.model.TChargeApply">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_charge_apply
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="attach != null">
        attach,
      </if>
      <if test="bankType != null">
        bank_type,
      </if>
      <if test="cashFee != null">
        cash_fee,
      </if>
      <if test="feeType != null">
        fee_type,
      </if>
      <if test="isSubscribe != null">
        is_subscribe,
      </if>
      <if test="mchId != null">
        mch_id,
      </if>
      <if test="nonceStr != null">
        nonce_str,
      </if>
      <if test="openid != null">
        openid,
      </if>
      <if test="outTradeNo != null">
        out_trade_no,
      </if>
      <if test="resultCode != null">
        result_code,
      </if>
      <if test="returnCode != null">
        return_code,
      </if>
      <if test="sign != null">
        sign,
      </if>
      <if test="timeEnd != null">
        time_end,
      </if>
      <if test="totalFee != null">
        total_fee,
      </if>
      <if test="tradeType != null">
        trade_type,
      </if>
      <if test="transactionId != null">
        transaction_id,
      </if>
      <if test="diviceInfo != null">
        divice_info,
      </if>
      <if test="signType != null">
        sign_type,
      </if>
      <if test="errCode != null">
        err_code,
      </if>
      <if test="errCodeDes != null">
        err_code_des,
      </if>
      <if test="settlementTotalFee != null">
        settlement_total_fee,
      </if>
      <if test="cashFeeType != null">
        cash_fee_type,
      </if>
      <if test="couponFee != null">
        coupon_fee,
      </if>
      <if test="couponCount != null">
        coupon_count,
      </if>
      <if test="couponType0 != null">
        coupon_type_0,
      </if>
      <if test="couponType1 != null">
        coupon_type_1,
      </if>
      <if test="couponId0 != null">
        coupon_id_0,
      </if>
      <if test="couponId1 != null">
        coupon_id_1,
      </if>
      <if test="couponId2 != null">
        coupon_id_2,
      </if>
      <if test="couponId3 != null">
        coupon_id_3,
      </if>
      <if test="couponId4 != null">
        coupon_id_4,
      </if>
      <if test="returnMsg != null">
        return_msg,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="attach != null">
        #{attach,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null">
        #{cashFee,jdbcType=INTEGER},
      </if>
      <if test="feeType != null">
        #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null">
        #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        #{openid,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null">
        #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        #{sign,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null">
        #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="diviceInfo != null">
        #{diviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        #{signType,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="settlementTotalFee != null">
        #{settlementTotalFee,jdbcType=INTEGER},
      </if>
      <if test="cashFeeType != null">
        #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="couponFee != null">
        #{couponFee,jdbcType=INTEGER},
      </if>
      <if test="couponCount != null">
        #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="couponType0 != null">
        #{couponType0,jdbcType=INTEGER},
      </if>
      <if test="couponType1 != null">
        #{couponType1,jdbcType=INTEGER},
      </if>
      <if test="couponId0 != null">
        #{couponId0,jdbcType=VARCHAR},
      </if>
      <if test="couponId1 != null">
        #{couponId1,jdbcType=VARCHAR},
      </if>
      <if test="couponId2 != null">
        #{couponId2,jdbcType=VARCHAR},
      </if>
      <if test="couponId3 != null">
        #{couponId3,jdbcType=VARCHAR},
      </if>
      <if test="couponId4 != null">
        #{couponId4,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.model.TChargeApplyExample" resultType="java.lang.Integer">
    select count(*) from t_charge_apply
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_charge_apply
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.userId != null">
        user_id = #{record.userId,jdbcType=INTEGER},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=INTEGER},
      </if>
      <if test="record.attach != null">
        attach = #{record.attach,jdbcType=VARCHAR},
      </if>
      <if test="record.bankType != null">
        bank_type = #{record.bankType,jdbcType=VARCHAR},
      </if>
      <if test="record.cashFee != null">
        cash_fee = #{record.cashFee,jdbcType=INTEGER},
      </if>
      <if test="record.feeType != null">
        fee_type = #{record.feeType,jdbcType=VARCHAR},
      </if>
      <if test="record.isSubscribe != null">
        is_subscribe = #{record.isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="record.mchId != null">
        mch_id = #{record.mchId,jdbcType=VARCHAR},
      </if>
      <if test="record.nonceStr != null">
        nonce_str = #{record.nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="record.openid != null">
        openid = #{record.openid,jdbcType=VARCHAR},
      </if>
      <if test="record.outTradeNo != null">
        out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="record.resultCode != null">
        result_code = #{record.resultCode,jdbcType=VARCHAR},
      </if>
      <if test="record.returnCode != null">
        return_code = #{record.returnCode,jdbcType=VARCHAR},
      </if>
      <if test="record.sign != null">
        sign = #{record.sign,jdbcType=VARCHAR},
      </if>
      <if test="record.timeEnd != null">
        time_end = #{record.timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="record.totalFee != null">
        total_fee = #{record.totalFee,jdbcType=INTEGER},
      </if>
      <if test="record.tradeType != null">
        trade_type = #{record.tradeType,jdbcType=VARCHAR},
      </if>
      <if test="record.transactionId != null">
        transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      </if>
      <if test="record.diviceInfo != null">
        divice_info = #{record.diviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="record.signType != null">
        sign_type = #{record.signType,jdbcType=VARCHAR},
      </if>
      <if test="record.errCode != null">
        err_code = #{record.errCode,jdbcType=VARCHAR},
      </if>
      <if test="record.errCodeDes != null">
        err_code_des = #{record.errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="record.settlementTotalFee != null">
        settlement_total_fee = #{record.settlementTotalFee,jdbcType=INTEGER},
      </if>
      <if test="record.cashFeeType != null">
        cash_fee_type = #{record.cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="record.couponFee != null">
        coupon_fee = #{record.couponFee,jdbcType=INTEGER},
      </if>
      <if test="record.couponCount != null">
        coupon_count = #{record.couponCount,jdbcType=INTEGER},
      </if>
      <if test="record.couponType0 != null">
        coupon_type_0 = #{record.couponType0,jdbcType=INTEGER},
      </if>
      <if test="record.couponType1 != null">
        coupon_type_1 = #{record.couponType1,jdbcType=INTEGER},
      </if>
      <if test="record.couponId0 != null">
        coupon_id_0 = #{record.couponId0,jdbcType=VARCHAR},
      </if>
      <if test="record.couponId1 != null">
        coupon_id_1 = #{record.couponId1,jdbcType=VARCHAR},
      </if>
      <if test="record.couponId2 != null">
        coupon_id_2 = #{record.couponId2,jdbcType=VARCHAR},
      </if>
      <if test="record.couponId3 != null">
        coupon_id_3 = #{record.couponId3,jdbcType=VARCHAR},
      </if>
      <if test="record.couponId4 != null">
        coupon_id_4 = #{record.couponId4,jdbcType=VARCHAR},
      </if>
      <if test="record.returnMsg != null">
        return_msg = #{record.returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_charge_apply
    set id = #{record.id,jdbcType=INTEGER},
      user_id = #{record.userId,jdbcType=INTEGER},
      order_id = #{record.orderId,jdbcType=INTEGER},
      attach = #{record.attach,jdbcType=VARCHAR},
      bank_type = #{record.bankType,jdbcType=VARCHAR},
      cash_fee = #{record.cashFee,jdbcType=INTEGER},
      fee_type = #{record.feeType,jdbcType=VARCHAR},
      is_subscribe = #{record.isSubscribe,jdbcType=VARCHAR},
      mch_id = #{record.mchId,jdbcType=VARCHAR},
      nonce_str = #{record.nonceStr,jdbcType=VARCHAR},
      openid = #{record.openid,jdbcType=VARCHAR},
      out_trade_no = #{record.outTradeNo,jdbcType=VARCHAR},
      result_code = #{record.resultCode,jdbcType=VARCHAR},
      return_code = #{record.returnCode,jdbcType=VARCHAR},
      sign = #{record.sign,jdbcType=VARCHAR},
      time_end = #{record.timeEnd,jdbcType=VARCHAR},
      total_fee = #{record.totalFee,jdbcType=INTEGER},
      trade_type = #{record.tradeType,jdbcType=VARCHAR},
      transaction_id = #{record.transactionId,jdbcType=VARCHAR},
      divice_info = #{record.diviceInfo,jdbcType=VARCHAR},
      sign_type = #{record.signType,jdbcType=VARCHAR},
      err_code = #{record.errCode,jdbcType=VARCHAR},
      err_code_des = #{record.errCodeDes,jdbcType=VARCHAR},
      settlement_total_fee = #{record.settlementTotalFee,jdbcType=INTEGER},
      cash_fee_type = #{record.cashFeeType,jdbcType=VARCHAR},
      coupon_fee = #{record.couponFee,jdbcType=INTEGER},
      coupon_count = #{record.couponCount,jdbcType=INTEGER},
      coupon_type_0 = #{record.couponType0,jdbcType=INTEGER},
      coupon_type_1 = #{record.couponType1,jdbcType=INTEGER},
      coupon_id_0 = #{record.couponId0,jdbcType=VARCHAR},
      coupon_id_1 = #{record.couponId1,jdbcType=VARCHAR},
      coupon_id_2 = #{record.couponId2,jdbcType=VARCHAR},
      coupon_id_3 = #{record.couponId3,jdbcType=VARCHAR},
      coupon_id_4 = #{record.couponId4,jdbcType=VARCHAR},
      return_msg = #{record.returnMsg,jdbcType=VARCHAR},
      create_time = #{record.createTime,jdbcType=TIMESTAMP}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.model.TChargeApply">
    update t_charge_apply
    <set>
      <if test="userId != null">
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="attach != null">
        attach = #{attach,jdbcType=VARCHAR},
      </if>
      <if test="bankType != null">
        bank_type = #{bankType,jdbcType=VARCHAR},
      </if>
      <if test="cashFee != null">
        cash_fee = #{cashFee,jdbcType=INTEGER},
      </if>
      <if test="feeType != null">
        fee_type = #{feeType,jdbcType=VARCHAR},
      </if>
      <if test="isSubscribe != null">
        is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
      </if>
      <if test="mchId != null">
        mch_id = #{mchId,jdbcType=VARCHAR},
      </if>
      <if test="nonceStr != null">
        nonce_str = #{nonceStr,jdbcType=VARCHAR},
      </if>
      <if test="openid != null">
        openid = #{openid,jdbcType=VARCHAR},
      </if>
      <if test="outTradeNo != null">
        out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      </if>
      <if test="resultCode != null">
        result_code = #{resultCode,jdbcType=VARCHAR},
      </if>
      <if test="returnCode != null">
        return_code = #{returnCode,jdbcType=VARCHAR},
      </if>
      <if test="sign != null">
        sign = #{sign,jdbcType=VARCHAR},
      </if>
      <if test="timeEnd != null">
        time_end = #{timeEnd,jdbcType=VARCHAR},
      </if>
      <if test="totalFee != null">
        total_fee = #{totalFee,jdbcType=INTEGER},
      </if>
      <if test="tradeType != null">
        trade_type = #{tradeType,jdbcType=VARCHAR},
      </if>
      <if test="transactionId != null">
        transaction_id = #{transactionId,jdbcType=VARCHAR},
      </if>
      <if test="diviceInfo != null">
        divice_info = #{diviceInfo,jdbcType=VARCHAR},
      </if>
      <if test="signType != null">
        sign_type = #{signType,jdbcType=VARCHAR},
      </if>
      <if test="errCode != null">
        err_code = #{errCode,jdbcType=VARCHAR},
      </if>
      <if test="errCodeDes != null">
        err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      </if>
      <if test="settlementTotalFee != null">
        settlement_total_fee = #{settlementTotalFee,jdbcType=INTEGER},
      </if>
      <if test="cashFeeType != null">
        cash_fee_type = #{cashFeeType,jdbcType=VARCHAR},
      </if>
      <if test="couponFee != null">
        coupon_fee = #{couponFee,jdbcType=INTEGER},
      </if>
      <if test="couponCount != null">
        coupon_count = #{couponCount,jdbcType=INTEGER},
      </if>
      <if test="couponType0 != null">
        coupon_type_0 = #{couponType0,jdbcType=INTEGER},
      </if>
      <if test="couponType1 != null">
        coupon_type_1 = #{couponType1,jdbcType=INTEGER},
      </if>
      <if test="couponId0 != null">
        coupon_id_0 = #{couponId0,jdbcType=VARCHAR},
      </if>
      <if test="couponId1 != null">
        coupon_id_1 = #{couponId1,jdbcType=VARCHAR},
      </if>
      <if test="couponId2 != null">
        coupon_id_2 = #{couponId2,jdbcType=VARCHAR},
      </if>
      <if test="couponId3 != null">
        coupon_id_3 = #{couponId3,jdbcType=VARCHAR},
      </if>
      <if test="couponId4 != null">
        coupon_id_4 = #{couponId4,jdbcType=VARCHAR},
      </if>
      <if test="returnMsg != null">
        return_msg = #{returnMsg,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.model.TChargeApply">
    update t_charge_apply
    set user_id = #{userId,jdbcType=INTEGER},
      order_id = #{orderId,jdbcType=INTEGER},
      attach = #{attach,jdbcType=VARCHAR},
      bank_type = #{bankType,jdbcType=VARCHAR},
      cash_fee = #{cashFee,jdbcType=INTEGER},
      fee_type = #{feeType,jdbcType=VARCHAR},
      is_subscribe = #{isSubscribe,jdbcType=VARCHAR},
      mch_id = #{mchId,jdbcType=VARCHAR},
      nonce_str = #{nonceStr,jdbcType=VARCHAR},
      openid = #{openid,jdbcType=VARCHAR},
      out_trade_no = #{outTradeNo,jdbcType=VARCHAR},
      result_code = #{resultCode,jdbcType=VARCHAR},
      return_code = #{returnCode,jdbcType=VARCHAR},
      sign = #{sign,jdbcType=VARCHAR},
      time_end = #{timeEnd,jdbcType=VARCHAR},
      total_fee = #{totalFee,jdbcType=INTEGER},
      trade_type = #{tradeType,jdbcType=VARCHAR},
      transaction_id = #{transactionId,jdbcType=VARCHAR},
      divice_info = #{diviceInfo,jdbcType=VARCHAR},
      sign_type = #{signType,jdbcType=VARCHAR},
      err_code = #{errCode,jdbcType=VARCHAR},
      err_code_des = #{errCodeDes,jdbcType=VARCHAR},
      settlement_total_fee = #{settlementTotalFee,jdbcType=INTEGER},
      cash_fee_type = #{cashFeeType,jdbcType=VARCHAR},
      coupon_fee = #{couponFee,jdbcType=INTEGER},
      coupon_count = #{couponCount,jdbcType=INTEGER},
      coupon_type_0 = #{couponType0,jdbcType=INTEGER},
      coupon_type_1 = #{couponType1,jdbcType=INTEGER},
      coupon_id_0 = #{couponId0,jdbcType=VARCHAR},
      coupon_id_1 = #{couponId1,jdbcType=VARCHAR},
      coupon_id_2 = #{couponId2,jdbcType=VARCHAR},
      coupon_id_3 = #{couponId3,jdbcType=VARCHAR},
      coupon_id_4 = #{couponId4,jdbcType=VARCHAR},
      return_msg = #{returnMsg,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>