<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mall.mapper.TItemMapper">
  <resultMap id="BaseResultMap" type="com.mall.model.TItem">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="corp_id" jdbcType="INTEGER" property="corpId" />
    <result column="item_name" jdbcType="VARCHAR" property="itemName" />
    <result column="item_desc" jdbcType="VARCHAR" property="itemDesc" />
    <result column="category_id" jdbcType="INTEGER" property="categoryId" />
    <result column="product_price" jdbcType="INTEGER" property="productPrice" />
    <result column="discount_price" jdbcType="INTEGER" property="discountPrice" />
    <result column="special_price" jdbcType="INTEGER" property="specialPrice" />
    <result column="weekday" jdbcType="INTEGER" property="weekday" />
    <result column="soldout" jdbcType="INTEGER" property="soldout" />
    <result column="sort_id" jdbcType="INTEGER" property="sortId" />
    <result column="format_id" jdbcType="INTEGER" property="formatId" />
    <result column="bar_code" jdbcType="VARCHAR" property="barCode" />
    <result column="item_code" jdbcType="VARCHAR" property="itemCode" />
    <result column="suppliers" jdbcType="VARCHAR" property="suppliers" />
    <result column="package_flag" jdbcType="INTEGER" property="packageFlag" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="thumbnails" jdbcType="VARCHAR" property="thumbnails" />
    <result column="cover_images" jdbcType="VARCHAR" property="coverImages" />
    <result column="join_act_minus" jdbcType="INTEGER" property="joinActMinus" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, corp_id, item_name, item_desc, category_id, product_price, discount_price, special_price, 
    weekday, soldout, sort_id, format_id, bar_code, item_code, suppliers, package_flag, 
    create_time, thumbnails, cover_images, join_act_minus
  </sql>
  <select id="selectByExample" parameterType="com.mall.model.TItemExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from t_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_item
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_item
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.mall.model.TItemExample">
    delete from t_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mall.model.TItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_item (corp_id, item_name, item_desc, 
      category_id, product_price, discount_price, 
      special_price, weekday, soldout, 
      sort_id, format_id, bar_code, 
      item_code, suppliers, package_flag, 
      create_time, thumbnails, cover_images, 
      join_act_minus)
    values (#{corpId,jdbcType=INTEGER}, #{itemName,jdbcType=VARCHAR}, #{itemDesc,jdbcType=VARCHAR}, 
      #{categoryId,jdbcType=INTEGER}, #{productPrice,jdbcType=INTEGER}, #{discountPrice,jdbcType=INTEGER}, 
      #{specialPrice,jdbcType=INTEGER}, #{weekday,jdbcType=INTEGER}, #{soldout,jdbcType=INTEGER}, 
      #{sortId,jdbcType=INTEGER}, #{formatId,jdbcType=INTEGER}, #{barCode,jdbcType=VARCHAR}, 
      #{itemCode,jdbcType=VARCHAR}, #{suppliers,jdbcType=VARCHAR}, #{packageFlag,jdbcType=INTEGER}, 
      #{createTime,jdbcType=TIMESTAMP}, #{thumbnails,jdbcType=VARCHAR}, #{coverImages,jdbcType=VARCHAR}, 
      #{joinActMinus,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.mall.model.TItem">
    <selectKey keyProperty="id" order="AFTER" resultType="java.lang.Integer">
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into t_item
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="corpId != null">
        corp_id,
      </if>
      <if test="itemName != null">
        item_name,
      </if>
      <if test="itemDesc != null">
        item_desc,
      </if>
      <if test="categoryId != null">
        category_id,
      </if>
      <if test="productPrice != null">
        product_price,
      </if>
      <if test="discountPrice != null">
        discount_price,
      </if>
      <if test="specialPrice != null">
        special_price,
      </if>
      <if test="weekday != null">
        weekday,
      </if>
      <if test="soldout != null">
        soldout,
      </if>
      <if test="sortId != null">
        sort_id,
      </if>
      <if test="formatId != null">
        format_id,
      </if>
      <if test="barCode != null">
        bar_code,
      </if>
      <if test="itemCode != null">
        item_code,
      </if>
      <if test="suppliers != null">
        suppliers,
      </if>
      <if test="packageFlag != null">
        package_flag,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="thumbnails != null">
        thumbnails,
      </if>
      <if test="coverImages != null">
        cover_images,
      </if>
      <if test="joinActMinus != null">
        join_act_minus,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="corpId != null">
        #{corpId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="discountPrice != null">
        #{discountPrice,jdbcType=INTEGER},
      </if>
      <if test="specialPrice != null">
        #{specialPrice,jdbcType=INTEGER},
      </if>
      <if test="weekday != null">
        #{weekday,jdbcType=INTEGER},
      </if>
      <if test="soldout != null">
        #{soldout,jdbcType=INTEGER},
      </if>
      <if test="sortId != null">
        #{sortId,jdbcType=INTEGER},
      </if>
      <if test="formatId != null">
        #{formatId,jdbcType=INTEGER},
      </if>
      <if test="barCode != null">
        #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="suppliers != null">
        #{suppliers,jdbcType=VARCHAR},
      </if>
      <if test="packageFlag != null">
        #{packageFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thumbnails != null">
        #{thumbnails,jdbcType=VARCHAR},
      </if>
      <if test="coverImages != null">
        #{coverImages,jdbcType=VARCHAR},
      </if>
      <if test="joinActMinus != null">
        #{joinActMinus,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mall.model.TItemExample" resultType="java.lang.Integer">
    select count(*) from t_item
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_item
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.corpId != null">
        corp_id = #{record.corpId,jdbcType=INTEGER},
      </if>
      <if test="record.itemName != null">
        item_name = #{record.itemName,jdbcType=VARCHAR},
      </if>
      <if test="record.itemDesc != null">
        item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="record.categoryId != null">
        category_id = #{record.categoryId,jdbcType=INTEGER},
      </if>
      <if test="record.productPrice != null">
        product_price = #{record.productPrice,jdbcType=INTEGER},
      </if>
      <if test="record.discountPrice != null">
        discount_price = #{record.discountPrice,jdbcType=INTEGER},
      </if>
      <if test="record.specialPrice != null">
        special_price = #{record.specialPrice,jdbcType=INTEGER},
      </if>
      <if test="record.weekday != null">
        weekday = #{record.weekday,jdbcType=INTEGER},
      </if>
      <if test="record.soldout != null">
        soldout = #{record.soldout,jdbcType=INTEGER},
      </if>
      <if test="record.sortId != null">
        sort_id = #{record.sortId,jdbcType=INTEGER},
      </if>
      <if test="record.formatId != null">
        format_id = #{record.formatId,jdbcType=INTEGER},
      </if>
      <if test="record.barCode != null">
        bar_code = #{record.barCode,jdbcType=VARCHAR},
      </if>
      <if test="record.itemCode != null">
        item_code = #{record.itemCode,jdbcType=VARCHAR},
      </if>
      <if test="record.suppliers != null">
        suppliers = #{record.suppliers,jdbcType=VARCHAR},
      </if>
      <if test="record.packageFlag != null">
        package_flag = #{record.packageFlag,jdbcType=INTEGER},
      </if>
      <if test="record.createTime != null">
        create_time = #{record.createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="record.thumbnails != null">
        thumbnails = #{record.thumbnails,jdbcType=VARCHAR},
      </if>
      <if test="record.coverImages != null">
        cover_images = #{record.coverImages,jdbcType=VARCHAR},
      </if>
      <if test="record.joinActMinus != null">
        join_act_minus = #{record.joinActMinus,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_item
    set id = #{record.id,jdbcType=INTEGER},
      corp_id = #{record.corpId,jdbcType=INTEGER},
      item_name = #{record.itemName,jdbcType=VARCHAR},
      item_desc = #{record.itemDesc,jdbcType=VARCHAR},
      category_id = #{record.categoryId,jdbcType=INTEGER},
      product_price = #{record.productPrice,jdbcType=INTEGER},
      discount_price = #{record.discountPrice,jdbcType=INTEGER},
      special_price = #{record.specialPrice,jdbcType=INTEGER},
      weekday = #{record.weekday,jdbcType=INTEGER},
      soldout = #{record.soldout,jdbcType=INTEGER},
      sort_id = #{record.sortId,jdbcType=INTEGER},
      format_id = #{record.formatId,jdbcType=INTEGER},
      bar_code = #{record.barCode,jdbcType=VARCHAR},
      item_code = #{record.itemCode,jdbcType=VARCHAR},
      suppliers = #{record.suppliers,jdbcType=VARCHAR},
      package_flag = #{record.packageFlag,jdbcType=INTEGER},
      create_time = #{record.createTime,jdbcType=TIMESTAMP},
      thumbnails = #{record.thumbnails,jdbcType=VARCHAR},
      cover_images = #{record.coverImages,jdbcType=VARCHAR},
      join_act_minus = #{record.joinActMinus,jdbcType=INTEGER}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.model.TItem">
    update t_item
    <set>
      <if test="corpId != null">
        corp_id = #{corpId,jdbcType=INTEGER},
      </if>
      <if test="itemName != null">
        item_name = #{itemName,jdbcType=VARCHAR},
      </if>
      <if test="itemDesc != null">
        item_desc = #{itemDesc,jdbcType=VARCHAR},
      </if>
      <if test="categoryId != null">
        category_id = #{categoryId,jdbcType=INTEGER},
      </if>
      <if test="productPrice != null">
        product_price = #{productPrice,jdbcType=INTEGER},
      </if>
      <if test="discountPrice != null">
        discount_price = #{discountPrice,jdbcType=INTEGER},
      </if>
      <if test="specialPrice != null">
        special_price = #{specialPrice,jdbcType=INTEGER},
      </if>
      <if test="weekday != null">
        weekday = #{weekday,jdbcType=INTEGER},
      </if>
      <if test="soldout != null">
        soldout = #{soldout,jdbcType=INTEGER},
      </if>
      <if test="sortId != null">
        sort_id = #{sortId,jdbcType=INTEGER},
      </if>
      <if test="formatId != null">
        format_id = #{formatId,jdbcType=INTEGER},
      </if>
      <if test="barCode != null">
        bar_code = #{barCode,jdbcType=VARCHAR},
      </if>
      <if test="itemCode != null">
        item_code = #{itemCode,jdbcType=VARCHAR},
      </if>
      <if test="suppliers != null">
        suppliers = #{suppliers,jdbcType=VARCHAR},
      </if>
      <if test="packageFlag != null">
        package_flag = #{packageFlag,jdbcType=INTEGER},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="thumbnails != null">
        thumbnails = #{thumbnails,jdbcType=VARCHAR},
      </if>
      <if test="coverImages != null">
        cover_images = #{coverImages,jdbcType=VARCHAR},
      </if>
      <if test="joinActMinus != null">
        join_act_minus = #{joinActMinus,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mall.model.TItem">
    update t_item
    set corp_id = #{corpId,jdbcType=INTEGER},
      item_name = #{itemName,jdbcType=VARCHAR},
      item_desc = #{itemDesc,jdbcType=VARCHAR},
      category_id = #{categoryId,jdbcType=INTEGER},
      product_price = #{productPrice,jdbcType=INTEGER},
      discount_price = #{discountPrice,jdbcType=INTEGER},
      special_price = #{specialPrice,jdbcType=INTEGER},
      weekday = #{weekday,jdbcType=INTEGER},
      soldout = #{soldout,jdbcType=INTEGER},
      sort_id = #{sortId,jdbcType=INTEGER},
      format_id = #{formatId,jdbcType=INTEGER},
      bar_code = #{barCode,jdbcType=VARCHAR},
      item_code = #{itemCode,jdbcType=VARCHAR},
      suppliers = #{suppliers,jdbcType=VARCHAR},
      package_flag = #{packageFlag,jdbcType=INTEGER},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      thumbnails = #{thumbnails,jdbcType=VARCHAR},
      cover_images = #{coverImages,jdbcType=VARCHAR},
      join_act_minus = #{joinActMinus,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>